<%= simple_form_for @panel, :html => {:class => "form-signin"} do |f| %>
  <% if @panel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@panel.errors.count, "error") %> prohibited this panel from being saved:</h2>

      <ul>
      <% @panel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name %>
  </div>
  <div class="field">
    <%= f.input :slug %>
  </div>
  <div class="field">
    <%= f.input :query %>
  </div>
  <div class="actions">
    <%= button_tag :class => 'btn btn-lg btn-primary btn-block' do %>
         Criar painel
     <% end %>
  </div>
<% end %>
